:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color:#18A0FB;
    --primary-white-color: #FFFFFF;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Montserrat, sans-serif;
    letter-spacing: -0.015em;
    font-size: 18px;
    line-height: 1.67;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    outline: 2px solid tomato;
}

/*  #region Logo */
.logo {
    color: var(--title-text-color);
    font-family: Comfortaa, sans-serif;

    font-size: 28px;
    line-height: 1.14;
    outline: 1px solid green;
}

.logo:hover {
    color: var(--accent-color);
}
/*  #endregion */

/*  #region Nav */
.site-nav {
    display: flex;
    outline: 1px solid green;
}

/* .site-nav .item {
    background-color: #18A0FB;
} */

.site-nav .item + .item { 
    /* прибираємо крайню геометрію аналог коду нижче */
    margin-left: 40px;
}

/* .site-nav .item:last-child {
    margin-right: 40px;
} */

.site-nav .link {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;

    color: var(--accent-color);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}

.auth-nav {
    display: flex;
    outline: 1px solid green;
}

.auth-nav .item + .item {
    margin-left: 12px;
}


/*  #endregion */

/*  #region Hero */
.hero {
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 40px;

    color: var(--title-text-color);

    font-weight: 400;
    font-size: 56px;
    line-height: 1.42;
}
/*  #endregion */

/*  #region section */ 
.section-title {
    color: var(--title-text-color);
    font-size: 48px;
    font-weight: 400;
    line-height: 1.5;
      text-align: center;
}

.section-description {
    font-size: 36px;
    line-height: 1.39;
}

/*  #endregion */

/*  #region Переваги */
.feature-list .title,
.work-list .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}

.feature-list .link {
    color: var(--accent-color);
}

/*  #endregion */

/* #region Button */
.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 12px 24px;
    min-width: 130px;
    

    color: var(--title-text-color);
    background-color: var(--primary-white-color);

    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    font-size: 24px;
    text-align: center;
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    
}

.button.secondary {
    background-color: var(--primary-white-color);
    color: var(--accent-color);
    border-color: var(--accent-color);
}
/*  #endregion */

/*  #region Роботи */

